<div class="container">
  <h1>XYZ Blog</h1>

  <% if policy(Article).new? %>
    <%= link_to "New article", new_article_path %>
  <% end %>

  <table>
    <% @articles.each do |article| %>
      <h2><%= article.title %></h2>
      <br>
      <h3><%= article.subtitle %></h3>
      <br>
      <h3><%= article.text %></h3>
      <br>
      <%= article.created_at.strftime("%d %b %Y") %>
      <br>
      <%= link_to 'Show', article_path(article) %>
      <br>
       <% if policy(Article).edit? %>
         <%= link_to "Edit", edit_article_path(article) %>
       <% end %>
       <br>
       <% if policy(Article).destroy? %>
         <%= link_to 'Destroy', article_path(article),
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
         <% end %>
    <% end %>
  </table>
</div>
