<div class="minheight">
  <div class="container">
    <h1>XYZ Blog</h1>

    <% if policy(Article).new? %>
      <%= link_to "New article", new_article_path, class: "btn btn-success" %>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <% if @articles == [] %>
        <h2>You haven't create any article yet!</h2>
      <% else %>
        <% @articles.each do |article| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="article-card">
              <%= link_to article_path(article) do %>
                <div class="article-photo" style="background-image: url('<%= cl_image_path article.photo %>');=""">
                </div>
                <div class="article-text-section">
                  <div class="article-title">
                    <h2><%= article.title %></h2>
                  </div>
                  <div class="article-subtitle">
                    <h3><%= article.short_subtitle %></h3>
                  </div>
                  <div class="article-text">
                    <%= raw (article.short_text) %>
                  </div>
                  <div class="article-published">
                    <%= "Published on " + article.created_at.strftime("%d %b %Y") %>
                  </div>
                </div>
              <% end %>
              <div class="article-actions">
                <% if policy(Article).edit? %>
                  <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary" %>
                <% end %>
                <% if policy(Article).destroy? %>
                  <%= link_to 'Destroy', article_path(article), class: "btn btn-danger",
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
